html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0em auto;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(41, 7, 7);
  border: black 1px solid;
}

.header {
  text-align: center;
  background-color: #591414;
  padding: 0.25em;
}

.header_title {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.main_page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 2em auto;
  align-items: center;
}

.card {
  position: relative;
  width: 90%;
  height: fit-content;
  background: #4b0d0d;
  border-radius: 20px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h2 {
  text-align: center;
  color: white;
  text-decoration: underline;
}

form {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.images {
  height: 35px;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  background-color: #591414;
  justify-content: space-around;
  z-index: 10;
  padding: 0.25em 0em;
}

.bookmark_card {
  position: absolute;
  top: -20px;
  right: 15px;
  width: 50px;
}

ul {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0em;
  padding: 0em;
}

li {
  margin: 1em;
  background-color: rgb(41, 7, 7);
  padding: 0.5em;
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
  border-radius: 6px;
}

.btn-toggle {
  padding: 1em;
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
  width: fit-content;
  background-color: rgb(136, 17, 17);
  color: white;
}

.question {
  margin: 4em 1.5em;
  color: white;
  text-align: center;
}

textarea {
  display: block;
  resize: none;
  margin-left: auto;
  margin-right: auto;
}

#newquestion {
  margin: 2em;
}

.main_profile_page {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  gap: 5em;
  flex-direction: row;
}

.profile_image {
  width: 30%;
  border-radius: 50%;
}

.name {
  display: flex;
  align-self: center;

  color: white;
  font-size: 1.5rem;
}

.profilePage {
  color: white;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.profilePage_text {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

#profilePageButton {
  margin: 2em;
}

.profileTags {
  background-color: #ffffff;
  color: black;
}

.hide {
  display: none;
  margin: 4em 1.5em;
  color: white;
  text-align: center;
}
